<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../../css/page.css" rel="stylesheet">
	</head>

	<body>
		<div class="contentsbox">
			<div class="pageDetailbody">
				<div id="title" class="title">

				</div>
				<div id="subtitle" class="subtitle">

				</div>
				<div class="pagecontent">
					<div id="img" class="imgstyle">
					</div>
					<div id="contents" style="text-align:left">
					</div>
					<div>
						<table id="tb_users" class="tablelist">
							<thead>
							<tr>
								<th>文件名</th>
								<th>文件类型</th>
								<th>文件大小</th>
								<th>附件查看</th>
							</tr>
							</thead>
							<tbody id="infoList">

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<script src="../../statics/js/common/jquery-1.10.2.min.js"></script>
		<script src="../../statics/js/common/JQuery.XDomainRequest.min.js"></script>
		<script src="../../statics/js/common/jquery.cookie.js"></script>
		<script src="../../statics/js/common/common.js"></script>
		<script src="../../statics/js/static/sys/contentdetail.js"></script>
	</body>

</html>