<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>部门选择</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../css/page.css" rel="stylesheet">
    <link href="../../css/pageView.css" rel="stylesheet">
    <link href="../../css/index.css" rel="stylesheet">
    <link href="../../statics/js/public/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
</head>
<body style="overflow: auto; margin-bottom: 20px;">
<div class="formbody">
    <table id="tb_users" class="tablelist">
        <div style="text-align: left; width: 196px;">
            <ul id="treeDemo" class="ztree"></ul>
        </div>
    </table>
    <div id="pageBody" class="pagin">
    </div>
    <div class="modal-footer">
        <input  type="submit" onclick="submit()" value="提交" class="btn-primary"/>
    </div>
</div>
<input type="hidden" id="nodeId">
<input type="hidden" id="pname">



<script src="../../statics/js/common/jquery-1.10.2.min.js"></script>
<script src="../../statics/js/common/JQuery.XDomainRequest.min.js"></script>
<script src="../../statics/js/common/jquery.cookie.js"></script>
<script src="../../statics/js/common/common.js"></script>

<script src="../../statics/js/public/plugins/layer/layer/layer.js"></script>
<script src="../../statics/js/public/plugins/layer/laydate/laydate.js"></script>
<script src="../../statics/js/public/PagerView.js"></script>
<!--<script src="statics/js/static/front/index.js"></script>-->
<!--<script src=""-->
<script type="text/javascript" src="../../statics/js/public/zTree/js/jquery.ztree.all.js"></script>
<script type="text/javascript" src="../../statics/js/public/zTree/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="../../statics/js/public/zTree/js/jquery.ztree.excheck.js"></script>
<script src="../../statics/js/static/sys/deptchoose.js"></script>
</body>
<script type="text/javascript">

</script>
</html>