<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../../css/index.css" rel="stylesheet">
		<link href="../../css/page.css" rel="stylesheet">
		<link href="../../css/pageView.css" rel="stylesheet">
		<title></title>
	</head>

	<body class="gray-bg">
		<div class="formbody">
			<table id="tb_users" class="tablelist">
				<thead>
					<tr>
						<th style=" width:40%;">车间</th>
						<th>落实情况</th>
					</tr>
				</thead>
				<tbody id="infoList">

				</tbody>
			</table>
		</div>

		<script src="../../statics/js/common/jquery-1.10.2.min.js"></script>
		<script src="../../statics/js/common/JQuery.XDomainRequest.min.js"></script>
		<script src="../../statics/js/common/jquery.cookie.js"></script>
		<script src="../../statics/js/common/common.js"></script>

		<script src="../../statics/js/public/plugins/layer/layer/layer.js"></script>
	    <script src="../../statics/js/public/plugins/layer/laydate/laydate.js"></script>
		<script src="../../statics/js/public/PagerView.js"></script>
		<script src="../../statics/js/static/sys/report-check.js"></script>
	</body>

</html><!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
	</body>
</html>
