<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../../css/index.css" rel="stylesheet">
	<link href="../../css/page.css" rel="stylesheet">
	<title>落实情况</title>
</head>
<body>
<div class="mainbody">
	<div class="formbody">
		<form  id="infoForm" name="infoForm">
			<div class="modal-body" style="background-color: white;">
				<input id="contentid" name="contentid" type="hidden" value="">
				<input id="deptid" name="deptid" type="hidden" value="">
				<div class="form-group">
					<div class="col-sm-6-complete">
						<textarea id="complete" name="complete" class="form-control-complete" type="text"></textarea>
					</div>
				</div>
			</div>
			<!--<div class="modal-footer">-->
				<!--<input  type="submit" value="提交" class="btn-primary"/>-->
			<!--</div>-->
		</form>
	</div>
</div>
<script src="../../statics/js/common/jquery-1.10.2.min.js"></script>
<script src="../../statics/js/common/JQuery.XDomainRequest.min.js"></script>
<script src="../../statics/js/common/jquery.cookie.js"></script>
<script src="../../statics/js/common/common.js"></script>
<script src="../../statics/js/public/jquery-validation/1.14.0/jquery.form.min.js"></script>
<script src="../../statics/js/public/jquery-validation/1.14.0/jquery.validate.js"></script>
<script src="../../statics/js/public/jquery-validation/1.14.0/messages_zh.js"></script>
<script src="../../statics/js/public/plugins/layer/layer/layer.js"></script>
<script src="../../statics/js/public/plugins/layer/laydate/laydate.js"></script>
<script src="../../statics/js/static/sys/rollback1.js"></script>
</body>
</html>