<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwdtz.springboot.dao.ModuleManageUrlDao">
  <resultMap id="BaseResultMap" type="com.gwdtz.springboot.entity.ModuleManageUrlDO">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="modulename" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="manageurl" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, modulename, manageurl
  </sql>
  <select id="selectModuleManageUrlList"  resultType="com.gwdtz.springboot.entity.ModuleManageUrlDO">
    select *
    from zd_modulemanageurl
  </select>

</mapper>